.mega-btn
{
    text-decoration: none;
    text-align: center;
    padding: 21px 32px;
    border: solid 1px #b18138;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: #333333;
    background-color: #fef9bc;
    -webkit-box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    text-shadow: 0px 0px 10px #946929;
    font-style: normal;
    font-variant: normal;
    font-size: 18px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(top, #fef9bc 0% ,#b18138 100%);
}
.mega-btn:hover
{
    padding: 21px 32px;
    border: solid 1px #b18138;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: #000000;
    background-color: #fcf9d3;
    -webkit-box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    text-shadow: 0px 0px 10px #946929;
    font-style: normal;
    font-variant: normal;
    font-size: 18px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(top, #fcf9d3 0% ,#c29148 100%);
}
.mega-btn:active
{
    padding: 21px 32px;
    border: solid 1px #b18138;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: #333333;
    background-color: #ebe1b0;
    -webkit-box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 4px #d4a026, inset 0px 0px 1px #ffffff;
    text-shadow: 0px 0px 10px #946929;
    font-style: normal;
    font-variant: normal;
    font-size: 18px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(top, #ebe1b0 0% ,#a87b37 100%);
}
