.headerContainerMobile
{
    background: url('../Images/img_leatherHeader.png') no-repeat;
    height: 185px;
    margin: 0 auto;
}

ul
{
    list-style: none;
    margin: 0px;
}

.mobile-only li
{
    font-size: 15px;
    line-height: 46px;
    color: #A6832F;
    background-color: #111;
}

.submenu
{
    border-bottom: solid thin #292929;
    font-weight: bold;
}

.menuText
{
    padding-left: 25px;
}

.mobileTitle
{
    font-size: 24px;
    color: #A6832F;
    font-weight: normal;
    line-height: 50px;
}

.mobileContentPane
{
    width: 100%;
    min-height: 350px;
    background-color: #000;
    border-bottom: solid thin #292929;
    position: relative;
    overflow: auto;
}

.mobileContent
{
    padding: 20px 20px 20px 25px;
    font-size: 12pt;
    color: #999;
}

.mobileFilter
{
    padding-left: 25px;
}

.arrow
{
    display: inline-block;
    position: relative;
    top: 6px;
    left: 5px;
    background: url('../Images/mobileNavArrow.png') 0 0 no-repeat;
    width: 30px;
    height: 23px;
}

.arrow.toggle
{
    display: inline-block;
    position: relative;
    top: 6px;
    left: 5px;
    background: url('../Images/mobileNavArrow.png') 0 -23px no-repeat;
    width: 30px;
    height: 23px;
}

.sectionContainer
{
    float: left;
    min-height: 60px;
    padding: 0 0 10px 20px;
    width: 100%;
    margin-top: 10px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.alt-border
{
    border: 1px solid #4A3002;
    -webkit-box-shadow: 0px 0px 10px 0px #4A3002;
    box-shadow: 0px 0px 10px 0px #4A3002;
}

.bottomTab
{
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: solid 2px #292929;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    margin-bottom: 0px;
    z-index: 5000;
    background-color: #111;
}

.bottomMenu
{    
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: solid 2px #292929;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    margin-bottom: 0px;
    z-index: 5000;
    background-color: #111;
}

.ttpTag
{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 0px;
    background-color: #111;
    border-top: solid 6px #292929;
    /*
    border-left: solid 2px #292929;
    border-right: solid 2px #292929;
    */    
    /*
    -moz-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    */
    z-index: 5000;
}

.ttpTagRound
{
    -moz-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 4000;
}
