.logoContainer {text-align: center; width: 100%; padding-top: 200px;}
.csContainer { width:1000px; padding-top:100px; padding-bottom:100px;}
.csText { width:100%; margin:0 auto; padding-top:50px;}
p.csText { font-size:28px; text-align:center; color:#eceaea; margin:20px 0; line-height:26px;}